/****Final-Project****/

@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

@visual-grid: true;
@visual-grid-color: tomato;


@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';

$phone-up: new-breakpoint(min-width em(550));
$tablet-up: new-breakpoint(min-width em(800));
$desktop-up: new-breakpoint(min-width em(1125));
$desktop-down: new-breakpoint(max-width em(1199));
$sm-tablet: new-breakpoint(min-width em(551) max-width em(699));
$tablet: new-breakpoint(min-width em(700) max-width em(949));
$desktop: new-breakpoint(min-width em(950) max-width em(3000));

/********************************************************************************************
********************************************************************************************
Variables Styles
********************************************************************************************
********************************************************************************************/

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, Baskerville, "Times New Roman", serif;

$c-black: #000;
$c-white: #fff;
$c-light-grey: #F5F5F5;
$c-dark-grey: #808080;
$c-red: #f01b31;
$c-blue: #0e6ea0;
$c-teal: #25bdae;

$outer-container-max-width: 1200px;

/********************************************************************************************
********************************************************************************************
Base Styles
********************************************************************************************
********************************************************************************************/

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: $sans-serif;
	font-size: 18px;
	line-height: 1.2;
}

img {
	max-width: 100%;
	max-height:100%;
}

select {
	border: 0;
}

button {
	border: none;
	outline: none;
}

.list-unstyled {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/********************************************************************************************
********************************************************************************************
Layout Styles
********************************************************************************************
********************************************************************************************/

#body-container {
	position:relative;
	height:100%;
	width:100%;
	left:0;

	&.is-open {
	transform: translateX(35%);
	}
}

#site-branding {
	position: fixed;
	display: block;
	z-index:3;
	width: 100%;
	height:em(50px);
	top:0;
	background-color: $c-white;

	& #burger-button {
		position: absolute;
		width: 30px;
		display:inline-block;
		top: 0.9em;
		left: 1em;
		z-index: 1000;
	}

	& .site-logo {
		position: absolute;
		display:block;
		top: 0;
		left: 0;
		right: 0;
		height:100%;
		padding: 0.25em 0em;
		text-align: center;
	}

	& .site-title {
		position:absolute;
		display: none;
		left:50%;
		top:0;
		height:100%;
		width:auto;
		transform: translateX(-50%);
		margin:0em auto;
		padding:0.75em 0em;
		color:$c-blue;
		font-size:.75em;
		vertical-align: middle;
		text-align: center;

		& .title {
			margin:0;
			padding:0;
		}
	}

	& .social-desktop {
		position:absolute;
		display:none;
		top:0;
		right:0;
		height:100%;
		width:auto;
		padding: 0.75em 0em;
		margin-right:1em;
		vertical-align: middle;
		text-align: right;

		& .social-links {
			margin:0;
			padding:0;
		}
	}

	& #social-button {
		position: absolute;
		display:inline-block;
		top: 0.7em;
		right: 1em;
		width: 28px;
		height:28px;
		padding:3px;
		border-radius: 50%;
		background-color: $c-red;
		text-align: center;
		z-index: 1000;
	}

	@include media($tablet-up) {
		& .site-logo {
			left:0;
			margin-left:1em;
			text-align: left;
		}

		& .site-title {
			display:block;
		}

		& .social-desktop {
			display:inline-block;
		}

		& #social-button {
			display:none;
		}
	}
}

#social-mobile {
	position:fixed;
	display:none;
	top:3.125rem;
	right:.7rem;
	width:40px;
	height:auto;
	padding:0.5rem 0.3rem 0.4rem;
	overflow: none;
	background-color: $c-white;
	-webkit-border-bottom-right-radius: 0.5rem;
	-webkit-border-bottom-left-radius: 0.5rem;
	-moz-border-radius-bottomright: 0.5rem;
	-moz-border-radius-bottomleft: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	-webkit-box-shadow: 0px 6px 23px -1px rgba(0,0,0,0.93);
	-moz-box-shadow: 0px 6px 23px -1px rgba(0,0,0,0.93);
	box-shadow: 0px 6px 23px -1px rgba(0,0,0,0.93);
	z-index: 1000;

	animation-name:bounce;
	animation-duration:1s;
	animation-delay:0;

	&.is-open {
		display:inline-block;
	}
}

#aside-menu {
	background-color: $c-dark-grey;
    position:  fixed;
    height: 100%;
    width: 35%;
    left: -35%;
    padding-top:1rem;
   	z-index: 1000;
	-webkit-box-shadow: inset -15px 0px 23px -8px rgba(0,0,0,0.51);
	-moz-box-shadow: inset -15px 0px 23px -8px rgba(0,0,0,0.51);
	box-shadow: inset -15px 0px 23px -8px rgba(0,0,0,0.51);

	animation-name:slideInLeft;
	animation-duration:1s;
	animation-delay:0;
}

#content-container {
	position:relative;
	display: block;
	top: em(50px);
	background-color: $c-light-grey;
}

.site-hero {
	position: relative;
	display:block;
	width:100%;
	margin:0;
	padding:0;

	& .hero {
		position: relative;
		overflow: auto;
		margin:0;
		padding:0;

		& > ul {
			margin:0;
			padding:0;
		}

		& li {
		list-style-type: none;
		}
	
		& ul li { 
			float: left; 
		}
	}
} 

.site-menu {
	position: relative;
	display:block;
	margin-top:-0.25em;
	width: 100%;
	height:auto;
	padding:0;
	background-color: $c-blue;
	text-align: center;
	z-index:3;
}

.content {
	@include outer-container($outer-container-max-width);

	@include media($desktop-down) {
		width:90%;
	}
}

#pg-2 {
	display: none;
	margin-top:-2.5%;
}

/********************************************************************************************
********************************************************************************************
Module Styles
********************************************************************************************
********************************************************************************************/

#burger-toggle {
  cursor: pointer;
  padding: 10px 0 10px 0px;
  display: block;


  @include media($tablet-up){
  	display:none;
  }
}

#burger-toggle span,
#burger-toggle span:before,
#burger-toggle span:after {
  cursor: pointer;
  height: 4px;
  width: 100%;
  background-color: $c-red;
  position: relative;
  display: block;
  content: '';

  transition: all 0.25s $ease-out-back;
}

#burger-toggle span:before {
  top: -8px;
}

#burger-toggle span:after {
  top: 4px;
}

#burger-toggle.is-open span  {
  background-color:rgba(255,255,255,0);
}

#burger-toggle.is-open span:before,
#burger-toggle.is-open span:after {
	transform-origin: 50% 50%;
}

#burger-toggle.is-open span:before {
  top:0px;
  transform: rotateZ(45deg);
}

#burger-toggle.is-open span:after {
  top:-4px;
  transform: rotateZ(-45deg);
}

#social-toggle {
  cursor: pointer;
  padding: 11px 0 11px 0px;
  display: block;


  @include media($tablet-up){
  	display:none;
  }
}

.btn {
	display:block;
	width:85%;
	margin:0 auto 0.6rem;
	padding:0.5em 0.75em;
	color:$c-white;
	text-align: center;
	font-size:0.8rem;
	font-weight:600;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

.signup {
	background-color: $c-blue;

	 &:hover {
		color: $c-red;
		background-color: $c-teal;

		& > a {
			color: $c-red;
			text-decoration: underline;
		}
	}
	
	& > a {
		color: $c-white;
		text-decoration: none;
	}
}

.create {
	background-color: $c-teal;

	 &:hover {
		color: $c-red;
		background-color: $c-blue;

		& > a {
			color: $c-red;
			text-decoration: underline;
		}
	}
	
	& > a {
		color: $c-white;
		text-decoration: none;
	}
}

.menu-hamburger {
	@extend .list-unstyled;
	margin-top:2rem;

	& > li {
		padding:0.5rem 0rem 0.5rem 1.25rem;
		font-size:0.8rem;
		color:$c-white;

		&:hover {
			color: $c-red;
			background-color: $c-teal;

		& > a {
			color: $c-red;
			text-decoration: underline;
		}
	}

	& > a {
			color: $c-white;
			text-decoration: none;
		}
	}
}

.stores {
	& > li {
		font-weight:600;
	}
}

.info {
	& > li {
		padding:0rem 0rem 0rem 1.25rem;
	}
}

#social-toggle span,
#social-toggle span:before {
  cursor: pointer;
  height: 2px;
  width: 100%;
  background-color: $c-white;
  position: relative;
  display: block;
  content: '';

  transition: all 0.25s $ease-out-back;
}

#social-toggle span {
 	top: -1px;
  	transform-origin: 50% 50%;
}

#social-toggle span:before {
	transform: rotateZ(90deg);
  	transform-origin: 50% 50%;
}

#social-toggle.is-open span {
	transform-origin: 50% 50%;
	transform: rotateZ(-135deg);
	top:-1px;
}

#social-toggle.is-open span:before {
	transform-origin: 50% 50%;
	transform: rotateZ(-90deg);
}

.menu {
	@extend .list-unstyled;
	@include outer-container($outer-container-max-width);

	display:none;

	@include media($desktop-up) {
		display:block;
	}

	& > li {
		padding:0.8em 0.5rem;
		font-size:.75em;
		color: $c-white;
		background-color: $c-blue;
		border-bottom: solid 1px $c-white;

		@include media($phone-up) {
			display: inline-block;
			border: none;
		}

		&:hover {
			color: $c-red;
			background-color: $c-teal;

		& > a {
			color: $c-red;
			text-decoration: underline;
		}
	}

	& > a {
			color: $c-white;
			text-decoration: none;
		}
	}
}

.hero-caption {
	display: none;
	padding:0;
	margin:0;

	& .intro {
		margin:0;
		padding:0;
		font-family: $sans-serif;
		font-size:2.5vw;
		color: $c-white;
		-webkit-text-fill-color: $c-white;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $c-dark-grey;
		vertical-align: middle;
		text-align: center;
		text-shadow: 1px 1px 10px $c-black;
		animation-name:tada;
		animation-duration:1s;
		animation-delay:1s;

		} 

		@include media($phone-up) {
			position: absolute;
			display: block;
			width:100%;
 			top:50%;
			transform: translateY(-50%);
		}
	}

.article-listing {
	width:100%;
	margin-bottom:2.5%;

	@extend .list-unstyled;
	@include clearfix;
	
	& .article {
		position:relative;
		margin-top:2.5%;
		background-color: $c-white;
		border:1px solid $c-blue;
		-webkit-box-shadow: 0px 3px 8px 0px $c-dark-grey;
		-moz-box-shadow: 0px 3px 8px 0px $c-dark-grey;
		box-shadow: 0px 3px 8px 0px $c-dark-grey;

		@include media($sm-tablet) {
			@include span-columns(6);
			@include omega(2n)
		}

		@include media($tablet) {
			@include span-columns(4);
			@include omega(3n)
		}

		@include media($desktop) {
			@include span-columns(3);
			@include omega(4n)
		}

		@include media($phone-up) {
			border: 0;
		}
	}
}

.article-meta {

	& .article-title {
		position:relative;
		display:block;
		margin:-0.15em 0em 0em;
		padding:0.5em;
		color: $c-white;
		background-color:$c-teal;
		}

		& .article-description {
			margin:0;
			padding:0.75em;
		}

		& .article-link {
			display:block;
			padding:0.25em 0.75em;
			border-top:1px solid $c-light-grey;
			color: $c-red;
			text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
} 

.article-add {
	display:block;
	width:85%;
	margin:0 auto;
	margin-bottom:2.5%;
	padding:0.5em 0.75em;
	background-color: $c-blue;
	color:$c-white;
	text-align: center;
	font-weight:bold;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;

	 &:hover {
		color: $c-red;
		background-color: $c-teal;

		& > a {
			color: $c-red;
			text-decoration: underline;
		}
	}
	
	& > a {
		color: $c-white;
		text-decoration: none;
	}
}

.footer-nameplate {
	background-color: $c-white;
	color: $c-red;
	padding: rem(15) rem(0);
	font-size: 0.75em;
	font-weight:bold;
	text-align: center;
}

/********************************************************************************************
********************************************************************************************
Animation Styles
********************************************************************************************
********************************************************************************************/

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -7px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}