/****Final-Project****/
@visual-grid : true;
@visual-grid-color : tomato;
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/********************************************************************************************
********************************************************************************************
Variables Styles
********************************************************************************************
********************************************************************************************/
/********************************************************************************************
********************************************************************************************
Base Styles
********************************************************************************************
********************************************************************************************/
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2; }

img {
  max-width: 100%;
  max-height: 100%; }

select {
  border: 0; }

button {
  border: none;
  outline: none; }

.list-unstyled, .menu-hamburger, .menu, .article-listing {
  padding: 0;
  margin: 0;
  list-style-type: none; }

/********************************************************************************************
********************************************************************************************
Layout Styles
********************************************************************************************
********************************************************************************************/
#body-container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0; }
  #body-container.is-open {
    -webkit-transform: translateX(35%);
            transform: translateX(35%); }

#site-branding {
  position: fixed;
  display: block;
  z-index: 3;
  width: 100%;
  height: 3.125em;
  top: 0;
  background-color: #fff; }
  #site-branding #burger-button {
    position: absolute;
    width: 30px;
    display: inline-block;
    top: 0.9em;
    left: 1em;
    z-index: 1000; }
  #site-branding .site-logo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0.25em 0em;
    text-align: center; }
  #site-branding .site-title {
    position: absolute;
    display: none;
    left: 50%;
    top: 0;
    height: 100%;
    width: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0em auto;
    padding: 0.75em 0em;
    color: #0e6ea0;
    font-size: .75em;
    vertical-align: middle;
    text-align: center; }
    #site-branding .site-title .title {
      margin: 0;
      padding: 0; }
  #site-branding .social-desktop {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    padding: 0.75em 0em;
    margin-right: 1em;
    vertical-align: middle;
    text-align: right; }
    #site-branding .social-desktop .social-links {
      margin: 0;
      padding: 0; }
  #site-branding #social-button {
    position: absolute;
    display: inline-block;
    top: 0.7em;
    right: 1em;
    width: 28px;
    height: 28px;
    padding: 3px;
    border-radius: 50%;
    background-color: #f01b31;
    text-align: center;
    z-index: 1000; }
  @media screen and (min-width: 50em) {
    #site-branding .site-logo {
      left: 0;
      margin-left: 1em;
      text-align: left; }
    #site-branding .site-title {
      display: block; }
    #site-branding .social-desktop {
      display: inline-block; }
    #site-branding #social-button {
      display: none; } }

#social-mobile {
  position: fixed;
  display: none;
  top: 3.125rem;
  right: .7rem;
  width: 40px;
  height: auto;
  padding: 0.5rem 0.3rem 0.4rem;
  overflow: none;
  background-color: #fff;
  -webkit-border-bottom-right-radius: 0.5rem;
  -webkit-border-bottom-left-radius: 0.5rem;
  -moz-border-radius-bottomright: 0.5rem;
  -moz-border-radius-bottomleft: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: 0px 6px 23px -1px rgba(0, 0, 0, 0.93);
  z-index: 1000;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0;
          animation-delay: 0; }
  #social-mobile.is-open {
    display: inline-block; }

#aside-menu {
  background-color: #808080;
  position: fixed;
  height: 100%;
  width: 35%;
  left: -35%;
  padding-top: 1rem;
  z-index: 1000;
  box-shadow: inset -15px 0px 23px -8px rgba(0, 0, 0, 0.51);
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0;
          animation-delay: 0; }

#content-container {
  position: relative;
  display: block;
  top: 3.125em;
  background-color: #F5F5F5; }

.site-hero {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0; }
  .site-hero .hero {
    position: relative;
    overflow: auto;
    margin: 0;
    padding: 0; }
    .site-hero .hero > ul {
      margin: 0;
      padding: 0; }
    .site-hero .hero li {
      list-style-type: none; }
    .site-hero .hero ul li {
      float: left; }

.site-menu {
  position: relative;
  display: block;
  margin-top: -0.25em;
  width: 100%;
  height: auto;
  padding: 0;
  background-color: #0e6ea0;
  text-align: center;
  z-index: 3; }

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 74.9375em) {
    .content {
      width: 90%; } }

#pg-2 {
  display: none;
  margin-top: -2.5%; }

/********************************************************************************************
********************************************************************************************
Module Styles
********************************************************************************************
********************************************************************************************/
#burger-toggle {
  cursor: pointer;
  padding: 10px 0 10px 0px;
  display: block; }
  @media screen and (min-width: 50em) {
    #burger-toggle {
      display: none; } }

#burger-toggle span,
#burger-toggle span:before,
#burger-toggle span:after {
  cursor: pointer;
  height: 4px;
  width: 100%;
  background-color: #f01b31;
  position: relative;
  display: block;
  content: '';
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

#burger-toggle span:before {
  top: -8px; }

#burger-toggle span:after {
  top: 4px; }

#burger-toggle.is-open span {
  background-color: rgba(255, 255, 255, 0); }

#burger-toggle.is-open span:before,
#burger-toggle.is-open span:after {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

#burger-toggle.is-open span:before {
  top: 0px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg); }

#burger-toggle.is-open span:after {
  top: -4px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg); }

#social-toggle {
  cursor: pointer;
  padding: 11px 0 11px 0px;
  display: block; }
  @media screen and (min-width: 50em) {
    #social-toggle {
      display: none; } }

.btn {
  display: block;
  width: 85%;
  margin: 0 auto 0.6rem;
  padding: 0.5em 0.75em;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em; }

.signup {
  background-color: #0e6ea0; }
  .signup:hover {
    color: #f01b31;
    background-color: #25bdae; }
    .signup:hover > a {
      color: #f01b31;
      text-decoration: underline; }
  .signup > a {
    color: #fff;
    text-decoration: none; }

.create {
  background-color: #25bdae; }
  .create:hover {
    color: #f01b31;
    background-color: #0e6ea0; }
    .create:hover > a {
      color: #f01b31;
      text-decoration: underline; }
  .create > a {
    color: #fff;
    text-decoration: none; }

.menu-hamburger {
  margin-top: 2rem; }
  .menu-hamburger > li {
    padding: 0.5rem 0rem 0.5rem 1.25rem;
    font-size: 0.8rem;
    color: #fff; }
    .menu-hamburger > li:hover {
      color: #f01b31;
      background-color: #25bdae; }
      .menu-hamburger > li:hover > a {
        color: #f01b31;
        text-decoration: underline; }
    .menu-hamburger > li > a {
      color: #fff;
      text-decoration: none; }

.stores > li {
  font-weight: 600; }

.info > li {
  padding: 0rem 0rem 0rem 1.25rem; }

#social-toggle span,
#social-toggle span:before {
  cursor: pointer;
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: relative;
  display: block;
  content: '';
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

#social-toggle span {
  top: -1px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

#social-toggle span:before {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

#social-toggle.is-open span {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotateZ(-135deg);
          transform: rotateZ(-135deg);
  top: -1px; }

#social-toggle.is-open span:before {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg); }

.menu {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: none; }
  .menu::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 70.3125em) {
    .menu {
      display: block; } }
  .menu > li {
    padding: 0.8em 0.5rem;
    font-size: .75em;
    color: #fff;
    background-color: #0e6ea0;
    border-bottom: solid 1px #fff; }
    @media screen and (min-width: 34.375em) {
      .menu > li {
        display: inline-block;
        border: none; } }
    .menu > li:hover {
      color: #f01b31;
      background-color: #25bdae; }
      .menu > li:hover > a {
        color: #f01b31;
        text-decoration: underline; }
    .menu > li > a {
      color: #fff;
      text-decoration: none; }

.hero-caption {
  display: none;
  padding: 0;
  margin: 0; }
  .hero-caption .intro {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5vw;
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #808080;
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px 10px #000;
    -webkit-animation-name: tada;
            animation-name: tada;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  @media screen and (min-width: 34.375em) {
    .hero-caption {
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }

.article-listing {
  width: 100%;
  margin-bottom: 2.5%; }
  .article-listing::after {
    clear: both;
    content: "";
    display: table; }
  .article-listing .article {
    position: relative;
    margin-top: 2.5%;
    background-color: #fff;
    border: 1px solid #0e6ea0;
    box-shadow: 0px 3px 8px 0px #808080; }
    @media screen and (min-width: 34.4375em) and (max-width: 43.6875em) {
      .article-listing .article {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .article-listing .article:last-child {
          margin-right: 0; }
        .article-listing .article:nth-child(2n) {
          margin-right: 0; }
        .article-listing .article:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 43.75em) and (max-width: 59.3125em) {
      .article-listing .article {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .article-listing .article:last-child {
          margin-right: 0; }
        .article-listing .article:nth-child(3n) {
          margin-right: 0; }
        .article-listing .article:nth-child(3n+1) {
          clear: left; } }
    @media screen and (min-width: 59.375em) and (max-width: 187.5em) {
      .article-listing .article {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .article-listing .article:last-child {
          margin-right: 0; }
        .article-listing .article:nth-child(4n) {
          margin-right: 0; }
        .article-listing .article:nth-child(4n+1) {
          clear: left; } }
    @media screen and (min-width: 34.375em) {
      .article-listing .article {
        border: 0; } }

.article-meta .article-title {
  position: relative;
  display: block;
  margin: -0.15em 0em 0em;
  padding: 0.5em;
  color: #fff;
  background-color: #25bdae; }
.article-meta .article-description {
  margin: 0;
  padding: 0.75em; }
.article-meta .article-link {
  display: block;
  padding: 0.25em 0.75em;
  border-top: 1px solid #F5F5F5;
  color: #f01b31;
  text-decoration: none; }
  .article-meta .article-link:hover {
    text-decoration: underline; }

.article-add {
  display: block;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2.5%;
  padding: 0.5em 0.75em;
  background-color: #0e6ea0;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em; }
  .article-add:hover {
    color: #f01b31;
    background-color: #25bdae; }
    .article-add:hover > a {
      color: #f01b31;
      text-decoration: underline; }
  .article-add > a {
    color: #fff;
    text-decoration: none; }

.footer-nameplate {
  background-color: #fff;
  color: #f01b31;
  padding: 0.9375rem 0rem;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center; }

/********************************************************************************************
********************************************************************************************
Animation Styles
********************************************************************************************
********************************************************************************************/
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -7px, 0);
            transform: translate3d(0, -7px, 0); }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0); } }
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -7px, 0);
            transform: translate3d(0, -7px, 0); }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0); } }
.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom; }

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.slideInLeft {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft; }

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
.tada {
  -webkit-animation-name: tada;
          animation-name: tada; }
